.q-card {
  width: 22.5rem;
}
.form-group{
  text-transform: none!important;
}
/* .bg-image {
  background-image: url("../assets/food.jpg");
  background-size: cover;
} */
.bg-field {
  background: rgba(0, 0, 0, 0.5) !important;
}